<!-- Navigation -->
<app-navbar></app-navbar>

<!-- Intro Section -->
<section id="demo" class="demo-section">
  <app-demo></app-demo>
</section>


<!-- <button (click)="hello.login('linkedin')">Login With Linkedin</button> -->
